@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
}
.full-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: max-content;
  h2 {
    color: #ff0015;
    text-transform: uppercase;
    margin: 0;
  }
  p {
    margin: 0 0 20px 0;
    font-size: 15px;
  }
  input {
    border: 1px solid #cdcdcd;
    outline: none;
    padding: 8px 10px;
    border-radius: 40px;
    text-align: center;
    max-width: 400px;
    min-width: 300px;
  }
  .meal-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
    .meal {
      width: calc(33% - 30px);
      border: 1px solid #cdcdcd;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 10px;
      border-radius: 5px;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      p {
        margin: 0;
      }
    }
  }
}

.cont {
  margin: 50px;
}
.progress-bar {
  width: 200px;
  height: 10px;
  background-color: #cdcdcd;
  border-radius: 20px;
  margin: 0 auto;
  position: relative;
  transition: all 100ms ease-in-out;
  .progress-bar-inner {
    height: 100%;
    background-color: #05be30;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 100ms ease-in-out;
  }
}
.startBtn {
  background-color: #05be30;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 20px;
  transition: all 100ms ease-in-out;
}
.pers {
  text-align: center;
}
