@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
}
.full-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: max-content;
  h2 {
    color: #ff0015;
    text-transform: uppercase;
    margin: 0;
  }
  p {
    margin: 0 0 20px 0;
    font-size: 15px;
  }
  input {
    border: 1px solid #cdcdcd;
    outline: none;
    padding: 8px 10px;
    border-radius: 40px;
    text-align: center;
    max-width: 400px;
    min-width: 300px;
  }
  .meal-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
    .meal {
      width: calc(33% - 30px);
      border: 1px solid #cdcdcd;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 10px;
      border-radius: 5px;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      p {
        margin: 0;
      }
    }
  }
}
